#notes:
#PySide requires module which is not provided by newer versions of
#Sphinx
#nose is required by XBee but not installed automatically
docutils
Jinja2
MarkupSafe
nose
#pip-tools  # currently using future branch as git submodule
Pygments
pyserial
PySide
Sphinx
XBee
